
.App {
  text-align: center;
  background-image: url("./img/bg1.png");
  justify-content: center;
  overflow-x: hidden;
}

.App-header {
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 50px;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 30px;
}

.App-footer {
  background-image: none;
  margin: 50px;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-schedule {
  padding: 20px;
  width: 600px;
  height: auto; 
  justify-content: center;
  text-decoration: double;
  text-align: center;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border-collapse: separate;
  border-spacing: 300px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  border-radius: 35px;
  background-color: rgb(255,255,255,.1);
  backdrop-filter: blur(4px);
  transition-duration: 0.4s;
  line-height: 1.5;
}


.App-schedule tr {
  padding: 20px;
  font-size: 24px; 
  color: rgb(255,255,255);
  font-weight: 450;
}

.App-schedule a {
  color: rgb(255,255,255);
  text-decoration: none;
  font-weight: 450;
}

.App-schedule a:hover {
  color:#EE2A7B;
  font-weight: 510;

}

.App-about {
  padding: 20px;
  width: 600px;
  height: auto; 
  justify-content: center;
  text-decoration: double;
  text-align: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border-collapse: separate;
  border-spacing: 300px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  border-radius: 35px;
  background-color: rgb(255,255,255,.1);
  backdrop-filter: blur(4px);
  line-height: 0.7;
  transition-duration: 0.4s;
  line-height: 1;
}

.App-about p {  
  font-size: 20px;
  padding: 7px;
  line-height: 1.5;

}

.App-link {
  color: white;
}

.name {
  color: rgb(255,255,255,.5);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loadscreen {
  color: white;
  font-family: Consolas, Courier, monospace;
  font-size: 50px;
  text-shadow: 0px 0px 15px plum;
  height: 100%;
  animation: blink infinite 4s linear;
}

@keyframes blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.center {
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate; 
  border-spacing: 1em;
}

.style {
  color: black;
  font-size: xx-large;
  overflow-x: hidden;
  justify-content: center;
  text-align: center;
}

.number {
  color: white;
  font-size: 40px;
  border:#61dafc;
  line-height: 5px;
  font-weight: bolder;
}

.textdate {
  color: white;
  font-size: 20px;
  text-align: center;
  border:#61dafc;
  text-transform: uppercase;
}

.time {
line-height: 0.5;
margin-left: auto;
margin-right: auto;
border-collapse: separate;
text-align: center;
border:#61dafc;
width: 400px;
padding-bottom: 50px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.bday {
  color: white;
  font-family: Consolas, Courier, monospace;
  font-size: 50px;
  text-shadow: 0px 0px 15px plum;
  height: 100%;
}

@media screen and (max-width: 480px) {
  .App-schedule {
    width: 250px;
  }

  .App-schedule tr {
    font-size: 20px;
  }

  .App-about h1 {
    font-size: 30px;
  }

  .number {
    font-size: 30px;
  }
  .textdate {
    font-size: 15px;
    padding: 10px;
  }

  .time {
    width: 250px;
  }

  .App-about {
    width: 250px;
  }

  .App-about p {
    font-size: 19px;
  }

  .App-about h1 {
    font-size: 30px;
  }

  .loadscreen {
    font-size: 30px;
  }
  .App-header {
    font-size: 40px;
  }

  .App-footer {
    font-size: 15px;
  }

  .bday {
    font-size: 20px;
  }
}

@media (min-width: 481px) and (max-width: 767px){
  .App-about {
    width: 400px;
  }
  .App-schedule {
    width: 400px;
  }
  .bday {
    font-size: 25px;
  }

}

@media (min-width: 768px) and (max-width: 1024px){
  .App-about {
    width: 400px;
  }
  .App-schedule {
    width: 400px;
  }
  .App-header {
    font-size: 40px;
  }
  .bday {
    font-size: 30px;
  }
}



 /* The sidenav */
 .sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Page content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
} 

